SCOPES=read_orders,read_locations
SHOPIFY_APP_DISTRIBUTION=single_merchant
SHOPIFY_APP_URL=https://clever-test-admin.3-39-216-177.sslip.io
CLEVER_DELIVERY_API_URL=http://delivery-api-clever-route:3000
GEOCODING_USER_AGENT=clever-test-admin/1.0 ops@evnsolution.com
